@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Welcome from Marosvasarhely!</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
        
        <div>Count:</div>
        <div id="counter">0</div>
        <input id="plus-button" class="counter-button" type="button" value="+ Counter" />
        <input id="minus-button" class="counter-button" type="button" value="- Counter" />

    </div>
