
@{
    ViewData["Title"] = "Import";
}

<h1>Import</h1>
<form asp-action="Import">
    <div class="form-group">
        <label class="control-label">Search term</label>
        <input type="text" name="searchTerm" class="form-control" />
        <input type="submit" value="Confirm" class="form-control" />
    </div>
</form>
