@model List<Movie>
@{
    ViewData["Title"] = "Movie Trailers";
}


     

    <div class="text-center">
        <h1 class="display-4">Welcome to the movies listing page!</h1>
        <p>Import movies from the Movie DB API @Html.ActionLink("Import", "Import", "Movie").</p>
        <div class="container">
            <div class="row">
                @foreach (var movie in Model)
                {
                <div class="col-sm">
                    <a href="/Movie/Details/@movie.ID">
                        <img style="width:300px;height:450px; margin-bottom: 10px;" src="https://image.tmdb.org/t/p/w300_and_h450_bestv2/@movie?.PosterUrl.Replace("/","")" />
                    </a>
                    <button type="button" id="@movie.ID" class="delete-movie btn-success">Delete</button>
                    <div id="star-@movie.ID" class="star">
                        <svg class="svg-star" viewBox="0 0 51 50" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
                            <defs></defs>
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
                                <path class="star-svg" sketch:type="MSShapeGroup" d="M19.1599493,39.1271248 C17.4576451,40.0218018 16.7108089,39.4773077 17.0355266,37.5846452 L18.2375322,30.5785868 L18.3264535,30.0602965 L17.9498333,29.6932963 L12.8580559,24.7315783 C11.4811669,23.3898591 11.7682637,22.5119148 13.669534,22.2357297 L20.7061974,21.2135596 L21.226418,21.1379905 L21.459124,20.6666223 L24.606016,14.2922998 C25.457074,12.5684024 26.381668,12.5700646 27.231905,14.2922998 L30.378797,20.6666223 L30.611503,21.1379905 L31.131724,21.2135596 L38.168387,22.2357297 C40.071492,22.5121813 40.355428,23.3911516 38.979865,24.7315783 L33.888088,29.6932963 L33.511468,30.0602965 L33.600389,30.5785868 L34.802395,37.5846452 C35.127425,39.4791331 34.378634,40.020939 32.677972,39.1271248 L26.384189,35.8193128 L25.918961,35.5748037 L25.453732,35.8193128 L19.1599493,39.1271248 L19.1599493,39.1271248 Z" ></path>
                                <path d="M11.8549664,10.3594235 C12.3017741,10.0347987 12.9263186,10.1327118 13.2503254,10.5786688 L17.3677086,16.2457607 C17.6915364,16.6914713 17.5949564,17.3136884 17.1450336,17.6405765 C16.6982259,17.9652013 16.0736814,17.8672882 15.7496746,17.4213312 L11.6322914,11.7542393 C11.3084636,11.3085287 11.4050436,10.6863116 11.8549664,10.3594235 Z M5.32767265,35.6857297 C5.12078315,35.1736602 5.36687878,34.5913546 5.87797335,34.384859 L12.3728135,31.7607733 C12.8836257,31.5543918 13.4639954,31.7986308 13.6723273,32.3142703 C13.8792169,32.8263398 13.6331212,33.4086454 13.1220266,33.615141 L6.62718654,36.2392267 C6.11637435,36.4456082 5.53600456,36.2013692 5.32767265,35.6857297 Z M25.5785358,40.5006854 C26.1307365,40.5103241 26.5705943,40.9643812 26.560974,41.5155305 L26.4387214,48.5193743 C26.4291064,49.0702191 25.9775146,49.5090205 25.4214642,49.4993146 C24.8692635,49.4896759 24.4294057,49.0356188 24.439026,48.4844695 L24.5612786,41.4806257 C24.5708936,40.9297809 25.0224854,40.4909795 25.5785358,40.5006854 Z M38.4554268,32.0273298 C38.6975325,31.5309396 39.29494,31.3241858 39.7903851,31.5658306 L46.0863572,34.6365813 C46.5815286,34.8780926 46.7883668,35.4728192 46.5445732,35.9726702 C46.3024675,36.4690604 45.70506,36.6758142 45.2096149,36.4341694 L38.9136428,33.3634187 C38.4184714,33.1219074 38.2116332,32.5271808 38.4554268,32.0273298 Z M32.6680582,17.4971568 C32.2388524,17.1495928 32.1717851,16.5209873 32.5186875,16.0925986 L36.9270206,10.6487606 C37.2737313,10.2206086 37.8997436,10.152856 38.3319418,10.5028432 C38.7611476,10.8504072 38.8282149,11.4790127 38.4813125,11.9074014 L34.0729794,17.3512394 C33.7262687,17.7793914 33.1002564,17.847144 32.6680582,17.4971568 Z" class="spark" sketch:type="MSShapeGroup"></path>
                            </g>
                        </svg>
                    </div>
                </div>
                }
            </div>
        </div>
    </div>
   
@*@Html.ActionLink("Update", "Update", "Movie", new { id = movie.ID }, null)
@Html.ActionLink("Delete", "Delete", "Movie", new { id = movie.ID }, null)*@

